<div class="columns">
  <div class="column">
    <i class="fa-solid fa-book-skull"></i>
    <h2 class="title is-2 has-text-centered">
      Highest Rarity Pals
    </h2>

    <% @pals.each do |p| %>
      <section class="hero is-small is-primary">
        <div class="hero-body">
          <p class="title">
            <%= link_to p.name, p %>
          </p>
          <em class="subtitle">
            (<%= p.region.name %>)
          </em>
        </div>
      </section>
      <br>
    <% end %>

    <p class = "mt-5 has-text-centered">
      <strong>
        <%= link_to 'See more in Pals Deck ðŸ“š', pals_path %>
      </strong>
    </p>

  </div>
  <div class="column">
    <h2 class="title is-2 has-text-centered">
      Common Regions
    </h2>
      <% @regions.each do |r| %>
        <section class="hero is-small is-danger">
          <div class="hero-body">
            <p class="title">
              <%= link_to r.name, r %>
            </p>
            <em class="subtitle">
              (<%= r.pals.count%> Pals)
            </em>
          </div>
        </section>
        <br>
      <% end %>

    <p class = "mt-5 has-text-centered">
      <strong>
        <%= link_to 'See more in Regions ðŸŒ', regions_path %>
      </strong>
    </p>
  </div>
</div>
